<div id="chatPage">
	<div id="logout">
        <button class="btn-outline" ng-click="user.logoutAccount()">Log out</button>
    </div>

	<div id="wrapper">
		<!-- append left-message here for all  -->
		
		
		<!-- append message here for only my message -->
		
	</div>
	
	<div id="outer-wrapper">
		<form ng-submit="sendMessage()" name="chatForm">
			<div id="inpt-wrapper">
				<input type="text" id="message" name="message" class="input-control" ng-model="chat.chatForm.message" placeholder="Start a new message" />
			</div>
			
			<div id="btn-wrapper">
				<input type="submit" value="send" class="btn-outline" id="send-btn" />
			</div>
		</form>
	</div>
</div>