<div id="loginPage" ng-cloak>
	<div id="failed" ng-show="loginFailed">
		<p><strong>Failed!</strong> Incorrect username and password.</p>
	</div>
	<div id="register" ng-show="registerAccount">
		<p><strong>Registered!</strong> Please Login.</p>
	</div>
	<form id="loginForm" role="form" ng-submit="signLogin()">
		<input type="text" class="input-control" name="username" placeholder="User name" ng-model="user.loginForm.username" autofocus required/>
		<input type="password" class="input-control" name="password"placeholder="password" ng-model=
		"user.loginForm.password" autofocus required />
		<input type="submit" class="btn-control" value="Sign Up / Log In"/>
		<p>By signing up, you agree to the Terms of Services and Privacy Policy, including Cookie Use. Others will be able to find you by searching your email address or phone number when provided.</p>
	</form>

	
</div>