/*mobile screen*/
body {
	font-family: "Arial", sans-serif;
	font-size: 14px;
}
header {
	text-align: center;
	border-bottom: 2px solid #D8DFE4;
}
#loginPage .input-control {
	display: block;
	padding: 10px;
	border-radius: 2px;
	border: none;
    background-color: #F5F8FA;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    line-height: 16px;
}
#loginPage .input-control:nth-of-type(1) {
	margin-top: 10px;
}
#loginPage .input-control:nth-of-type(2) {
	margin: 10px 0;
}
#loginPage .btn-control {
	background-color: #88E306;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	border: none;
	width: 100%;
}
#loginPage p {
	color: #778795;
	font-size: 12px;
	line-height: 18px;
}
#loginPage #failed {
	border: 1px solid #E7D0D3;
    padding: 5px;
    background-color: #F2DEDF;
    text-align: center;
    border-radius: 5px;
}
#loginPage #failed p {
	color: #AE5D67;
}
#loginPage #register {
	border: 1px solid #D8E6D3;
    padding: 5px;
    background-color: #DEF0D8;
    text-align: center;
    border-radius: 5px;
}
#loginPage #register p {
	color: #63794B;
}

/*Chat Page*/
#chatPage #wrapper {
	position: relative;
	min-height: 75vh;
	padding: 10px 0;
}
#chatPage #outer-wrapper form{
	display: grid;
    justify-content: space-between;
    grid-template-columns: 80% 15%;
    padding: 20px 0;
    grid-column-gap: 10px;
}
.btn-outline {
	box-sizing: border-box;
	display: inline-block;
	background-color: #666666;
	color:#fff;
	font-weight: bold;
	border-radius: 5px;
	border:none;
	padding: 7px;
	box-sizing: border-box;
}
#chatPage .input-control {
	display: inline-block;
	padding: 10px;
	border-radius: 2px;
	border: none;
    background-color: #F5F8FA;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    line-height: 16px;
}
#chatPage #outer-wrapper #btn-wrapper {
	justify-self:end;
	align-self: center;
}
#chatPage .row {
	display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 5px;
}
#chatPage #name {
	justify-self: end;
    color: #667B8A;
    margin-bottom: 15px;
}
#chatPage #left-name {
    color: #667B8A;
    margin-bottom: 15px;
}
#chatPage #wrapper #message {
	position: relative; 
    border-radius: 4px;
    background-color: #88E306;
    width: 40%;
    /* height: auto; */
    border: 1px solid #AEEB69;
   /* margin-right: 5%;*/
    padding: 10px;
    /* float: right; */
    /* margin-bottom: 20px; */
    color: white;
    align-self: end;
    justify-self: end;
}
#chatPage #wrapper #left-message {
	position: relative; 
    border-radius: .4em;
    background-color: #88E306;
    width: 40%;
    /* height: auto; */
    border: 1px solid #AEEB69;
    /* margin-left: 5%; */
    padding: 10px;
    /* float: left; */
    /* margin-bottom: 20px; */
    color: white;
}
/*#chatPage #wrapper #message:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #88E306;
	border-left: 0;
	margin-top: 20px;
	margin-left: -20px;
}*/

/*logout*/
#chatPage  #logout {
    position: absolute;
    right: 2%;
    top: 3%;
}
/*desktop screen*/
@media only screen and (min-width: 767px) {
  	#loginPage, #chatPage {
  		width: 40%;
  		margin: 0 auto;
	}
	#chatPage #logout {
		position: absolute;
		right: 30%;
		top: 2%;
	}
	
	/*#loginPage {
		height: 85vh;
		position:relative;
	}
	#loginPage form {
		position: relative;
		top:25%;
	}*/
}
